.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(37, 31, 98);
  z-index: 1;
}

.Title{
  font-size: 24px;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  position: absolute;
  left: 60px;

  & img{
    width: 200px;
  }
}

.form-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 600px;
  background-color: rgb(30, 24, 87);
  position: absolute;
  right: 0;
}

.card {
  width: 400px;
  height: 400px;
  position: relative;
  text-align: center;
  /* border: solid 0.5px #e6f7ff; */
  border-radius: 8px;
  padding: 16px;
}

.title {
  padding-top: 32px;
  font-size: 30px;
  color: white;
  font-weight: 700;
}

input {
  width: calc(100% - 16px);
  margin-top: 12px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  color: rgb(245, 245, 245);
  border-radius: 5px;
}

button {
  margin-top: 12px;
  width: 95%;
  padding: 8px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

.singup-button{
  background-color: #002df5;
  color: white;
}

button:hover {
  background-color: rgba(156, 148, 148, 0.4);
  color: #ffffff;
}

.blur-background{
  filter: blur(5px);
  transition: filter 0.5s ease;
}